<ion-header class="ion-no-border" style="border: 0;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Simulados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-title>AWS</ion-title>
    <hr />
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img src="./assets/badges/aws-cloud-practitioner.png" />
        </ion-avatar>
        <ion-card-subtitle>Cloud Practitioner</ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img src="./assets/badges/aws-solutions-architect-associate.png" />
        </ion-avatar>
        <ion-card-subtitle>Solutions Architect Associate</ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img src="./assets/badges/aws-cloud-practitioner.png" />
        </ion-avatar>
        <ion-card-subtitle>Cloud Practitioner</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-title>Azure</ion-title>
    <ion-row>
      <ion-col>
        <div>1 of 4</div>
      </ion-col>
      <ion-col>
        <div>2 of 4</div>
      </ion-col>
      <ion-col>
        <div>3 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>